// ==========================================================================
// HELPERS/_VARIABLES.SCSS
// ==========================================================================

// Colors
$milky-way: #333;
$constellation: #1E1E1E;
$banshee-glades: #6C0;
$sun-chute: #FF0;
$waterfall: #09F;
$zoomer: #F60;
$black-magic: #111;
$steel-pipes: #6C6D70;
$grizzly-gully: #5A5D5E;
$stoney-trail: #E6E6E6;
$diamond: #000;
$white: #FFF;
$tomkum: #F00000;

//Typography
$dinpro: "FFDINWebPro", Helvetica, Arial, sans-serif;
$dinbold: "FFDINWebProBold", "Arial Bold", Arial, sans-serif;
$dinblack: "FFDINWebProBlack", "Arial Black", "Arial Bold", Arial, sans-serif;

// Breakpoints
$breakpoint-small: 480px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-xlarge: 1200px;
$breakpoint-xxlarge: 1400px;
